{{>licenseInfo}}

{{#imports}}
import { {{classname}} } from '../../models'
{{/imports}}

import { v4 as uuid } from 'uuid'
import {platform, release} from 'os'
import { Client, ClientConfigurations, Serializer, ExpediaGroupServiceError, ExpediaGroupError } from '../../core'
import { ErrorObjectMapper } from "../../models/error/ApiError";

/**
 * {{{description}}}
 */
{{#operations}}
export class {{classname}} extends Client {
    private static readonly sdkTitle: string = '{{artifactId}}'
    private static readonly nodeVersion: string = process.version
    private static readonly operatingSystemName: string = platform()
    private static readonly operatingSystemVersion: string = release()
    private static readonly userAgent: string = `${this.sdkTitle}/{{artifactVersion}} (Node.js ${this.nodeVersion} ${this.operatingSystemName} ${this.operatingSystemVersion})`

    constructor(configurations: ClientConfigurations) {
        super({...configurations, userAgent: {{classname}}.userAgent})
    }

    private static createHeaders() {
        return {
            'Content-Type': 'application/json',
            'User-Agent': {{classname}}.userAgent,
            'transaction-id': uuid(),
            'x-sdk-title': {{classname}}.sdkTitle
        }
    }

    {{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     {{#queryParams}}* @param {{{paramName}}} {{description}}{{^required}} (optional{{#defaultValue}}, defaults to {{{.}}}{{/defaultValue}}){{/required}}{{#required}}{{#defaultValue}} (defaults to {{{.}}}){{/defaultValue}}{{/required}}
     {{/queryParams}}{{#bodyParams}}* @param {{{paramName}}} {{description}}{{^required}} (optional{{#defaultValue}}, defaults to {{{.}}}{{/defaultValue}}){{/required}}{{#required}}{{#defaultValue}} (defaults to {{{.}}}){{/defaultValue}}{{/required}}
     {{/bodyParams}}{{#formParams}}* @param {{{paramName}}} {{description}}{{^required}} (optional{{#defaultValue}}, defaults to {{{.}}}{{/defaultValue}}){{/required}}{{#required}}{{#defaultValue}} (defaults to {{{.}}}){{/defaultValue}}{{/required}}
     {{/formParams}}<{{{returnType}}}{{^returnType}}void{{/returnType}}>{{#responses}}{{^is2xx}}
     * @throws ExpediaGroupApi{{{dataType}}}{{/is2xx}}{{/responses}}
     * @return Promise
     */
    {{operationId}}({{>api/apiParamsDecleration}}): Promise<{{{returnType}}}>  {
        {{#returnProperty}}let responsePromise = {{/returnProperty}}this.axiosClient.request({
            method: '{{httpMethod}}',
            url: '{{#removeLeadingSlash}}{{path}}{{/removeLeadingSlash}}'{{#bodyParam}},
            headers: {{classname}}.createHeaders(),
            data: Serializer.serialize({{{paramName}}}){{/bodyParam}}
        }).catch(error => {
            if (error instanceof ExpediaGroupError) throw error
            if (error.response?.status) throw ErrorObjectMapper.process(error, '{{operationId}}')
            throw new ExpediaGroupServiceError(error)
        })
        {{#returnProperty}}
        return responsePromise.then((response) => {
            return Serializer.deserializeObject<{{{returnType}}}>(response.data, {{{returnType}}}) as {{{returnType}}}
        });
        {{/returnProperty}}
    }
    {{/operation}}
}
{{/operations}}
