{
  "name": "@expediagroup/{{namespace}}-sdk",
  "version": "{{artifactVersion}}",
  "description": "ExpediaGroup {{#apiInfo}}{{#apis}}{{#operations}}{{baseName}}{{/operations}}{{/apis}}{{/apiInfo}} SDK v{{artifactVersion}}",
  "main": "lib/index.js",
  "workspaces": [
    "dependencies"
  ],
  "scripts": {
    "clean": "rm -rf .openapi-generator apis auth http types",
    "build": "prettier --write '**/*.ts'",
    "fetch-core": "mkdir -p core/src && cp -r ../../../core/src ./core/ && cp -r ../../../core/index.ts ./core/index.ts",
    "merge-packages": "npm install -g merge-packages && npx merge-packages -o package.json package.json ../../src/main/resources/dependencies/package.json ../../../core/package.json",
    "generate-docs": "npx typedoc",
    "prepare-sdk": "npm run merge-packages && npm run fetch-core && npm run clean && npm i && npm run build"
  }
}
