{
  "name": "@expediagroup/{{namespace}}-sdk",
  "version": "{{artifactVersion}}",
  "description": "ExpediaGroup {{#apiInfo}}{{#apis}}{{#operations}}{{baseName}}{{/operations}}{{/apis}}{{/apiInfo}} SDK v{{artifactVersion}}",
  "main": "lib/index.js",
  "scripts": {
    "clean": "rm -rf .openapi-generator apis auth http types",
    "build": "prettier --write '**/*.ts'",
    "fetch-core": "mkdir -p core/src && cp -r ../../../core/src ./core/ && cp -r ../../../core/index.ts ./core/index.ts",
    "merge-packages": "npm install -g merge-packages && npx merge-packages -o package.json package.json ../../../core/package.json",
    "generate-docs": "npx typedoc",
    "prepare-sdk": "npm run merge-packages && npm run fetch-core && npm run clean && npm i && npm run build"
  },
  "publishConfig": {
    "access": "public"
  },
  "dependencies": {
    "@types/node": "20.1.2",
    "@types/uuid": "9.0.1",
    "uuid": "9.0.0",
    "typescript-json-serializer": "6.0.0"
  },
  "devDependencies": {
    "prettier": "2.8.7",
    "prettier-plugin-organize-imports": "3.2.2",
    "typedoc": "0.25.0",
    "typedoc-plugin-markdown": "4.0.0-next.17",
    "typedoc-plugin-missing-exports": "2.1.0"
  }
}
